<?xml version="1.0" encoding="utf-8"?>
<!--引入本地文档-->
<!DOCTYPE web-app SYSTEM "web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>com.chris</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>hello</welcome-file>
        <welcome-file>hello1</welcome-file>
    </welcome-file-list>
</web-app>